@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat";
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.white-btn {
  display: inline-block;
  padding: 0 33px;
  color: #fff;
  font-size: 16px;
  line-height: 46px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.white-btn:active {
  opacity: 0.6;
}

.section-title {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 30px;
  color: #555555;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #fff;
  background-color: #555555;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-subtitle {
  font-family: Roboto Slab;
  color: #555555;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: url(../img/header_bg.jpg) center/cover no-repeat;
}

.header__inner {
  height: 100vh;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 20px;
}

.header__burger {
  display: none;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-size: 14px;
  color: #fff;
}

.header__link:hover {
  border-bottom: 1px solid;
}

.header__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}

.header__title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 28px;
}

.header__subtitle {
  font-family: Roboto Slab;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}

.services {
  padding: 100px 0;
}

.services__title {
  margin-bottom: 20px;
}

.services__subtitle {
  margin-bottom: 60px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -7.5px;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 345px;
          flex: 0 1 345px;
  text-align: center;
  color: #555555;
  font-size: 14px;
  line-height: 24px;
  margin: 0 7.5px;
}

.services__item:hover .services__item-ico {
  background-color: #c0301c;
}

.services__item:hover .services__item-ico .svg {
  fill: #fff;
}

.services__item-ico {
  width: 90px;
  height: 90px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  margin: 0 auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item-ico .svg {
  fill: #c0301c;
  fill-rule: evenodd;
}

.services__item-title {
  margin-bottom: 20px;
}

.services__item-text {
  font-family: Roboto Slab;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__inner {
    padding: 15px 0;
  }

  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 0 45px;
  }

  .services__item:last-child {
    margin: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ccc;
    padding: 90px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__list li {
    margin: 0 0 30px 0;
  }

  .header__link {
    font-size: 24px;
    color: #555555;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}